.pull-right= link_to t('.new', :default => t("helpers.links.new")), new_manage_project_path, :class => 'btn btn-primary'
.page-header
  %h2 Projects
.clearfix

%table.table.table-striped.table-bordered
  %thead
    %tr
      %th Year
      %th Name
      %th Description
      %th URL
      %th Students
      %th
  %tbody
    -# @years.each do |year|
    -# year.projects.each do |project|
    - @projects.each do |project|
      %tr
        %td.span2
          = "#{project.school_year.value} (#{semestre project.school_year.semestre})"
          = semestre_icon project.school_year.semestre
        %td= link_to project.name, project_path(project)
        %td= project.description
        %td= link_to project.url, project.url
        %td
          %ul
            - project.users.each do |user|
              %li= link_to user.name, manage_user_path(user)
        %td.span2
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_manage_project_path(project), :class => 'btn btn-mini btn-primary span1'
          %br
          %br
          = link_to t('.destroy', :default => t("helpers.links.destroy")), manage_project_path(project), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger span1'

.clearfix
.pull-right= link_to t('.new', :default => t("helpers.links.new")), new_manage_project_path, :class => 'btn btn-primary'
