- model_class = Project
.page-header
  %h1=t '.title', :default => model_class.model_name.human

%p
  %strong= model_class.human_attribute_name(:name) + ':'
  %br
  = @project.name
%p
  %strong= model_class.human_attribute_name(:description) + ':'
  %br
  = @project.description
%p
  %strong= model_class.human_attribute_name(:url) + ':'
  %br
  = @project.url
%p
  %strong= model_class.human_attribute_name(:school_year_id) + ':'
  %br
  = @project.school_year_id

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), projects_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_project_path(@project), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), project_path(@project), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
